<div class="page-header">
  <%= link_to @service, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Exibir
  <% end %>
  <h3>Editar serviço</h3>
</div>

<%= render 'form' %>
