<div class="page-header">
  <%= link_to products_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <%= link_to edit_product_path(@product), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  <h3>Produto</h3>
</div>

<dl class="dl-horizontal">
  <dt>Nome produto:</dt>
  <dd><%= @product.nome_produto %></dd>

  <dt>Descrição:</dt>
  <dd><%= @product.descricao %></dd>

</dl>
