<div class="page-header">
  <%= link_to @serviceordem, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Exibir
  <% end %>
  <h3>Ordem de serviço  N° <%=@serviceordem.id%></h3>
</div>

<%= render 'form' %>
