<div class="page-header">
  <%= link_to serviceordems_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <h3>Nova Ordem de Serviço</h3>
</div>

<%= render 'form' %>
